<div>
  <h1 class="title"><b>M/M/1</b></h1>
  <mat-divider></mat-divider>
</div>
<div class="container">
  <div class="form-column">

    <form class='form' [formGroup]="form" (ngSubmit)="calcularMM1()">
      <div class="form-group">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label><b>λ</b> Llegadas promedio</mat-label>
          <input type="number" matInput formControlName="llegadasPromedio" class="form-control" id="llegadasPromedio" required>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label><b>μ</b> Cosas que se atienden por periodo</mat-label>
          <input type="number" matInput formControlName="atendidoPorPeriodo" class="form-control" id="atendidoPorPeriodo" required>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Constante <b>k</b></mat-label>
          <input type="number" matInput formControlName="valorEvaluado" class="form-control" id="valorEvaluado" required>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="form-column">
    <form class='form' [formGroup]="form" (ngSubmit)="calcularMM1()">
      <div class="form-group">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Número de canales</mat-label>
          <input type="number" matInput formControlName="numeroCanales" class="form-control" id="numeroCanales" required>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Horas Laboradas</mat-label>
          <input type="number" matInput formControlName="horasLaborales" class="form-control" id="horasLaborales">
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label><b>C<sub>s</sub></b> Costo de servicio</mat-label>
          <input type="number" matInput formControlName="costoServicio" class="form-control" id="costoServicio">
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label><b>C<sub>w</sub></b> Costo de espera</mat-label>
          <input type="number" matInput formControlName="costoInsatisfaccion" class="form-control" id="costoInsatisfaccion">
        </mat-form-field>
      </div>
      <button type="submit" mat-raised-button color="primary">Calcular MM1</button>
    </form>
  </div>
</div>

<div class="table-container mat-elevation-z8" *ngIf="lmm1!=-1">
  <table class="table">
    <thead>
      <tr>
        <th data-toggle="tooltip" data-placement="top" title="Unidades promedio en el sistema" scope="col">L</th>
        <th data-toggle="tooltip" data-placement="top" title="Tiempo promedio en el sistema" scope="col">W</th>
        <th data-toggle="tooltip" data-placement="top" title="Numero promedio de clientes" scope="col">Lq</th>
        <th data-toggle="tooltip" data-placement="top" title="Tiempo de espera en cola" scope="col">Wq</th>
        <th data-toggle="tooltip" data-placement="top" title="Probabilidad de uso del sistema" scope="col">Ro</th>
        <th data-toggle="tooltip" data-placement="top" title="Probabilidad de no uso" scope="col">P0</th>
        <th data-toggle="tooltip" data-placement="top" title="Probabilidad clientes mayor a K" scope="col">Pn>K</th>
        <th scope="col" data-toggle="tooltip" data-placement="top" title="Costo total del servicio diario">C.T servicio (*HL)</th>
        <th class="bg bg-info" scope="col" data-toggle="tooltip" data-placement="top" title="Costo total de espera en sistema">C.T espera S (*HL)</th>
        <th class="bg bg-success" scope="col" data-toggle="tooltip" data-placement="top" title="Costo total de espera en cola">C.T espera C (*HL)</th>
        <th class="bg bg-info" scope="col" data-toggle="tooltip" data-placement="top" title="Costo final en sistema">Costo final S</th>
        <th class="bg bg-success" scope="col" data-toggle="tooltip" data-placement="top" title="Costo final en cola">Costo final C</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{lmm1}}</td>
        <td>{{wmm1}}</td>
        <td>{{lqmm1}}</td>
        <td>{{wqmm1}}</td>
        <td>{{romm1}}</td>
        <td>{{p0mm1}}</td>
        <td>{{pnmm1}}</td>
        <td>{{totalServiciomm1}}</td>
        <td>{{totalEsperasSistemamm1}}</td>
        <td>{{totalEsperaColamm1}}</td>
        <td>{{costoFinalSistemamm1}}</td>
        <td>{{costoFinalColamm1}}</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>{{(wmm1 * 60)}}</td>
        <td></td>
        <td>{{(wqmm1 * 60)}}</td>
      </tr>
    </tbody>
  </table>
</div>

<br><br>
