.example-spacer {
  flex: 1 1 auto;
}

.navbar {
  flex-flow: row;
  flex-wrap: wrap;
  background-color: #72A4AF;
  color: #3E4357;
}

.navbar-title {
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
}

.navbar a {
  color: #3E4357;
  text-decoration: none;
  margin-right: 20px;
}

.navbar a:hover {
  color: #B07395;
}
