<div>
  <h1 class="title"><b>M/M/m</b></h1>
  <mat-divider></mat-divider>
</div>
<div class="container">
  <!-- <div class="form-column"> -->
  <form class='form' [formGroup]="mmmForm" (ngSubmit)="calcularMMm()">
    <div class="form-group">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Llegadas promedio <b>λ</b></mat-label>
        <input type="number" matInput formControlName="llegadasPromedio2" class="form-control" id="llegadasPromedio2" required>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Personas o artículos que se atienden por periodo <b>μ</b></mat-label>
        <input type="number" matInput formControlName="atendidoPorPeriodo2" class="form-control" id="atendidoPorPeriodo2" required>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Número de canales <b>m</b></mat-label>
        <input type="number" matInput formControlName="numeroCanales2" class="form-control" id="numeroCanales2" required>
      </mat-form-field>
    </div>
    <div class="buttonStyle">
      <button type="submit" mat-raised-button color="primary">Calcular MMm</button>
    </div>
  </form>
</div>
  <!-- <div class="form-column">
    <form class='form' [formGroup]="mmmForm" (ngSubmit)="calcularMMm()">
      <div class="form-group">
        <mat-form-field class="full-width" appearance="fill">
        <mat-label>Horas Laboradas</mat-label>
        <input type="number" matInput formControlName="horasLaborales2" class="form-control" id="horasLaborales2">
      </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label><b>C<sub>s</sub></b> Costo de servicio</mat-label>
          <input type="number" matInput formControlName="costoServicio2" class="form-control" id="costoServicio2">
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label><b>C<sub>w</sub></b> Costo de espera</mat-label>
          <input type="number" matInput formControlName="costoInsatisfaccion2" class="form-control" id="costoInsatisfaccion2">
        </mat-form-field>
      </div>
      <button type="submit" mat-raised-button color="primary">Calcular MMm</button>
    </form>
  </div>
</div> -->

<div class="table-container mat-elevation-z8" *ngIf="lmmm!=-1">
  <table class="table">
    <thead>
      <tr>
        <th data-toggle="tooltip" data-placement="top" title="Unidades promedio en el sistema" scope="col">L</th>
        <th data-toggle="tooltip" data-placement="top" title="Tiempo promedio en el sistema" scope="col">W</th>
        <th data-toggle="tooltip" data-placement="top" title="Numero promedio de clientes" scope="col">Lq</th>
        <th data-toggle="tooltip" data-placement="top" title="Tiempo de espera en cola" scope="col">Wq</th>
        <th data-toggle="tooltip" data-placement="top" title="Probabilidad de uso del sistema" scope="col">Ro</th>
        <th data-toggle="tooltip" data-placement="top" title="Probabilidad de no uso" scope="col">P0</th>
        <!-- <th scope="col" data-toggle="tooltip" data-placement="top" title="Costo total del servicio diario">C.T servicio (*HL)</th>
        <th class="bg bg-info" scope="col" data-toggle="tooltip" data-placement="top" title="Costo total de espera en sistema">C.T espera S (*HL)</th>
        <th class="bg bg-success" scope="col" data-toggle="tooltip" data-placement="top" title="Costo total de espera en cola">C.T espera C (*HL)</th>
        <th class="bg bg-info" scope="col" data-toggle="tooltip" data-placement="top" title="Costo final en sistema">Costo final S</th>
        <th class="bg bg-success" scope="col" data-toggle="tooltip" data-placement="top" title="Costo final en cola">Costo final C</th> -->
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{lmmm}}</td>
        <td>{{wmmm}}</td>
        <td>{{lqmmm}}</td>
        <td>{{wqmmm}}</td>
        <td>{{rommm}}</td>
        <td>{{p0mmm}}</td>
        <!-- <td>{{totalServiciommm}}</td>
        <td>{{totalEsperasSistemammm}}</td>
        <td>{{totalEsperaColammm}}</td>
        <td>{{costoFinalSistemammm}}</td>
        <td>{{costoFinalColammm}}</td> -->
      </tr>
      <tr>
        <td></td>
        <td>{{wmmm * 60}}</td>
        <td></td>
        <td>{{wqmmm * 60}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Variables</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="parameter-row">
        <div class="parameter">
          <p><strong>m:</strong> Número de canales abiertos</p>
          <p><strong>λ:</strong> Tasa de llegadas promedio</p>
          <p><strong>µ:</strong> Tasa de servicio promedio en cada canal</p>
          <p><strong>P0:</strong> Probabilidad de que haya cero clientes o unidades en el sistema</p>
          <p><strong>L:</strong> Número promedio de clientes o unidades en el sistema</p>
        </div>
        <div class="parameter">
          <p><strong>W:</strong> Tiempo promedio que una unidad pasa en la línea de espera o recibiendo servicio (es decir, dentro del sistema)</p>
          <p><strong>Lq:</strong> Número promedio de clientes o unidades que se encuentran en la línea esperando ser atendidos</p>
          <p><strong>Wq:</strong> Tiempo promedio que un cliente o unidad pasa en la cola esperando ser atendido</p>
          <p><strong>p:</strong> Tasa de utilización</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<br><br>
