<div>
  <h1 class="title"><b>M/D/1</b></h1>
  <mat-divider></mat-divider>
</div>
<div class="container">
  <form class='form' [formGroup]="md1Form" (ngSubmit)="calcularMD1()">
    <div class="form-group">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Llegadas promedio <b>λ</b></mat-label>
        <input type="number" matInput formControlName="llegadasPromedio3" class="form-control" id="llegadasPromedio3" required>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Persona o artículos que se atienden por periodo <b>μ</b></mat-label>
        <input type="number" matInput formControlName="atendidoPorPeriodo3" class="form-control" id="atendidoPorPeriodo3" required>
      </mat-form-field>
    </div>
    <div class="buttonStyle">
      <button type="submit" mat-raised-button color="primary">Calcular MD1</button>
    </div>
  </form>
</div>

<div class="table-container mat-elevation-z8" *ngIf="lmd1!=-1">
  <table class="table">
      <thead>
        <tr>
          <th data-toggle="tooltip" data-placement="top" title="Unidades promedio en el sistema" scope="col">L</th>
          <th data-toggle="tooltip" data-placement="top" title="Tiempo promedio en el sistema" scope="col">W</th>
          <th data-toggle="tooltip" data-placement="top" title="Numero promedio de clientes" scope="col">Lq</th>
          <th data-toggle="tooltip" data-placement="top" title="Tiempo de espera en cola" scope="col">Wq</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{lmd1}}</td>
          <td>{{wmmd1}}</td>
          <td>{{lqmd1}}</td>
          <td>{{wqmd1}}</td>
        </tr>
        <tr>
          <td></td>
          <td>{{(wmmd1 * 60)}}</td>
          <td></td>
          <td>{{(wqmd1 * 60)}}</td>
        </tr>
      </tbody>
  </table>
</div>
<br><br>
